<!DOCTYPE html>
<html ⚡ class="no-js" lang="{{ .Site.LanguageCode | default "ja" }}">
<head>
	<meta charset="utf-8">
	<script async src="https://cdn.ampproject.org/v0.js"></script>
	{{ with .OutputFormats.Get "html" }}
        <link rel="canonical" href="{{ .Permalink }}" />
    {{ end }}
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
	<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
	<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{else}}{{ .Params.Description }}{{end}}">
	{{ if .Site.Params.opengraph }}{{ template "_internal/opengraph.html" . }}{{ end }}
	{{ if .Site.Params.twitter_cards }}{{ template "_internal/twitter_cards.html" . }}{{ end }}
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
	{{ $style := resources.Get "css/style.css" }}
	{{ $custom := resources.Get "css/style.css" }}
    {{ $css_content := $style.Content }}
    {{ $css_custom_content := $custom.Content }}
	<style amp-custom>
		{{ $css_content | safeCSS }}
		{{ $css_custom_content | safeCSS }}
	</style>
	<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
	{{- if not .Site.IsServer }}
		<amp-analytics type="googleanalytics" id="analytics1">
			<script type="application/json"> { "vars": { "account": {{ .Site.GoogleAnalytics }}}, "triggers": { "trackPageview": { "on": "visible", "request": "pageview" } } }
			</script>
		</amp-analytics>
	{{- end }}
</head>
<body class="body">
	<div class="container container--outer">
		{{ partial "header" . }}
		<div class="wrapper flex">
			<div class="primary">
			{{ partial "ad_toppage" . }}
			{{ block "main" . }}
				{{ with .Content }}
				<div class="content main__content clearfix">
					{{ . }}
				</div>
				{{ end }}
				{{ end }}
			{{ partial "ad_bottompage" . }}
			</div>
			{{ partial "sidebar.html" . }}
		</div>
		{{ partial "footer" . }}
	</div>
<script async defer src="{{ "js/menu.js" | relURL }}"></script>
{{- partial "mathjax.html" . -}}
</body>
</html>