<div class="widget">
    <h4 class="widget__title">{{ T "ad_title" }}</h4>
    <div class="widget__content">
        {{ partial "ad/linux.html" . }}
    </div>
</div>
<div class="widget">
    <h4 class="widget__title">{{ T "notitle" }}</h4>
    <div class="widget__content">
        {{ partial "ad/python_data.html" . }}
    </div>
</div>
<div class="widget">
    <h4 class="widget__title">{{ T "notitle" }}</h4>
    <div class="widget__content">
        {{ partial "ad/blockchain.html" . }}
    </div>
</div>
<div class="widget">
    <h4 class="widget__title">{{ T "notitle" }}</h4>
    <div class="widget__content">
        {{ partial "ad/docker.html" . }}
    </div>
</div>
<div class="widget">
    <h4 class="widget__title">{{ T "notitle" }}</h4>
    <div class="widget__content">
        {{ partial "ad/github.html" . }}
    </div>
</div>
<div class="widget">
    <h4 class="widget__title">{{ T "notitle" }}</h4>
    <div class="widget__content">
        {{ partial "ad/machine_learning.html" . }}
    </div>
</div>