<div class="widget">
        <h4 class="widget__title">{{ T "ad_title" }}</h4>
        <div class="widget__content">
                {{ partial "ad/purosupi2019.html" . }}
        </div>
</div>
<!-- <div class="widget">
    <h4 class="widget__title">{{ T "notitle" }}</h4>
    <div class="widget__content">
        <a href="//af.moshimo.com/af/c/click?a_id=1414800&p_id=170&pc_id=185&pl_id=4157&guid=ON" target="_blank"
            rel="nofollow"><img src="//image.moshimo.com/af-img/0068/000000004157.gif" width="350" height="292"
                style="border:none;"></a><img
            src="//i.moshimo.com/af/i/impression?a_id=1414800&p_id=170&pc_id=185&pl_id=4157" width="1" height="1"
            style="border:none;">
    </div>
</div> -->