<div class="widget">
        <div class="widget__content">
                <a href="https://px.a8.net/svt/ejp?a8mat=35F5RB+7CCHDE+3GWO+609HT" target="_blank" rel="nofollow">
                        <img border="0" width="336" height="280" alt=""
                                src="https://www21.a8.net/svt/bgt?aid=190503911444&wid=001&eno=01&mid=s00000016188001009000&mc=1"></a>
                <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=35F5RB+7CCHDE+3GWO+609HT"
                        alt="">
        </div>
</div>
<div class="widget">
        <h4 class="widget__title">{{ T "ad_title" }}</h4>
        <div class="widget__content">
                {{ partial "ad/purosupi2019.html" . }}
        </div>
</div>
<!-- <div class="widget">
        <h4 class="widget__title">{{ T "notitle" }}</h4>
        <div class="widget__content">
                {{ partial "ad/aws.html" . }}
        </div>
</div> -->