<div class="widget">
        <h4 class="widget__title">{{ T "jobs_ad" }}</h4>
        <div class="widget__content">
                <a href="https://t.afi-b.com/visit.php?guid=ON&a=99886h-V336937n&p=J690746r" target="_blank"
                        rel="nofollow"><img src="https://www.afi-b.com/upload_image/9886-1534148705-3.jpg" width="336"
                                height="280" style="border:none;" alt="CodeCampGATE" /></a><img
                        src="https://t.afi-b.com/lead/99886h/J690746r/V336937n" width="1" height="1"
                        style="border:none;" />
        </div>
</div>
<div class="widget">
        <h4 class="widget__title">{{ T "amazon_sample_ad" }}</h4>
        <div class="widget__content">
                {{ partial "ad/purosupi2019.html" . }}
        </div>
</div>
<div class="widget">
        <h4 class="widget__title">{{ T "amazon_sample_ad" }}</h4>
        <div class="widget__content">
                {{ partial "ad/aws.html" . }}
        </div>
</div>