{{- if .Param "authorbox" }}
<div class="wide__area">
	<div class="widget-author widget">
		<h4 class="widget__title">{{ T "author_title" }}</h4>
		{{- if and (not .Site.Author.avatar) (not .Site.Author.name) (not .Site.Author.bio) }}
		<p class="authorbox__warning"><strong>WARNING:</strong> Authorbox is activated, but [Author] parameters are not specified.</p>
		{{- end }}
		{{- with .Site.Author.avatar }}
		<figure class="authorbox__avatar">
			<img alt="{{ $.Site.Author.name }} avatar" src="{{ $.Site.Author.avatar | relURL }}" class="avatar" height="80" width="80">
		</figure>
		{{- end }}
	</div>
	<div class="widget-author widget">
		{{- with .Site.Author.name }}
		<div class="authorbox__header">
			<span class="authorbox__name">{{ T "author_name" . }}</span>
		</div>
		{{- end }}
		{{- with .Site.Author.bio }}
		<div class="widget-author__description">
			{{ . }}
		</div>
		{{- end }}
	</div>
</div>
{{- end }}